doctype html
html
  head
    //- title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    title= Scheduler
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(rel="stylesheet" href="./../../style.css")

  body
    nav(class="navbar navbar-light" style="background-color: #F22A6C; color: white;")
      div(class="navbar-header")
        a(class="navbar-brand" href="/") Scheduler
      div(class="container-fluid")
        ul(class="nav navbar-nav navbar-right")
          if user
            li
              case user.provider
                when "facebook"
                  a(href="/logout") #{user.displayName} を ログアウト(Facebook)
                when "twitter"
                  a(href="/logout") #{user.username} を ログアウト(Twitter)
                when "github"
                  a(href="/logout") #{user.username} を ログアウト(GitHub)
          else
            li
              a(href="/login") ログイン
    div(class="container")
      block content
    script(src="/javascripts/bundle.js")
