extends layout

block content
  a(href="/auth/facebook") Facebook でログイン
  br
  a(href="/auth/twitter") Twitter でログイン  
  br
  a(href="/auth/github") GitHub でログイン
  
  if user
    case user.provider
      when "facebook"
        p 現在 #{user.displayName} で Facebook ログイン中
      when "twitter"
        p 現在 #{user.username} で Twitter ログイン中
      when "github"
        p 現在 #{user.username} で GitHub ログイン中