extends layout

block content
  form(method="post", action="/schedules")
    input(type="hidden" name="_csrf" value!="#{csrfToken}")
    br
    div.form-group
      label(for="inputScheduleName" class="col-form-label") 予定名
      input(type="text" class="form-control" name="scheduleName")
    div.form-group
      label(for="inputMemo" class="col-form-label") メモ 
      textarea(name="memo" class="form-control" rows="3")
    div.form-group
      label(for="inputCandidates" class="col-form-label") 候補名(複数入力してそれぞれ改行してください。)
      textarea(name="candidates" class="form-control" rows="5")
    button(type="submit" class="btn btn-primary") 予定をつくる